<div class="col-md-12 stats1" data-bind="css: {'col-md-12': $root.layout() == 0, 'col-md-3': $root.layout() == 1}">
    <table class="table table-condensed">
    <tbody>
    <tr><td>Armor:</td><td class="text-right" data-bind="component: { name: 'stat', params: {'hero': $data, 'stat': 'totalArmorPhysical' } }"></td></tr>
    <tr><td>Health:</td><td class="text-right" data-bind="component: { name: 'stat', params: {'hero': $data, 'stat': 'health' } }"></td></tr>
    <tr><td>Health Regen:</td><td class="text-right" data-bind="component: { name: 'stat', params: {'hero': $data, 'stat': 'healthregen' } }"></td></tr>
    <tr><td>Mana:</td><td class="text-right" data-bind="component: { name: 'stat', params: {'hero': $data, 'stat': 'mana' } }"></td></tr>
    <tr><td>Mana Regen:</td><td class="text-right" data-bind="component: { name: 'stat', params: {'hero': $data, 'stat': 'manaregen' } }"></td></tr>
    <tr><td>Physical <abbr title="Effective Hit Points">EHP</abbr>:</td><td class="text-right" data-bind="component: { name: 'stat', params: {'hero': $data, 'stat': 'ehpPhysical' } }"></td></tr>
    <tr><td>Magical <abbr title="Effective Hit Points">EHP</abbr>:</td><td class="text-right" data-bind="component: { name: 'stat', params: {'hero': $data, 'stat': 'ehpMagical' } }"></td></tr>
    </tbody>
    </table>
</div>