<div class="row">
    <div class="col-md-12">
        <h3 style="display:block;" class="section_header" data-bind="toggle: showDamageDetails, css: { section_disabled: !showDamageDetails() }">Damage Details
            <span class="pull-right" data-bind="visible: showDamageDetails()">
                <small style="text-align:center" data-bind="style: {color: getDamageTypeColor('physical')}">Physical</small>
                <small style="text-align:center" data-bind="style: {color: getDamageTypeColor('magic')}">Magical</small>
                <small style="text-align:center" data-bind="style: {color: getDamageTypeColor('pure')}">Pure</small>
            </span>
        </h3>
        <table class="table damage-details" data-bind="visible: showDamageDetails()">
            <thead>
                <tr class="damage-details-header-row">
                    <td></td>
                    <td class="text-center" colspan="2"><strong>Attack Damage</strong><img src="img/reduc_icon.png" class="pull-right" data-bind="attr: {title: 'After reductions from ' + enemy().heroData().displayname}"></td>
                    <td class="text-center" colspan="2"><strong>DPS</strong><img src="img/reduc_icon.png" class="pull-right" data-bind="attr: {title: 'After reductions from ' + enemy().heroData().displayname}"></td>
                </tr>
                <tr class="damage-details-header-row-2 total-row">
                    <td><strong>Total</strong></td>
                    <td class="text-right" data-bind="text: damageTotalInfo().totalRow[0]().toFixed(2)"></td>
                    <td class="text-right" data-bind="text: damageTotalInfo().totalRow[1]().toFixed(2)"></td>
                    <td class="text-right" data-bind="text: damageTotalInfo().totalRow[2]().toFixed(2)"></td>
                    <td class="text-right" data-bind="text: damageTotalInfo().totalRow[3]().toFixed(2)"></td>
                </tr>
            </thead>
            <!-- ko foreach: damageTotalInfo().attacks -->
            <tbody>
                <tr class="indent subtotal-row" data-bind="toggle: $data.enabled, css: { 'inactive': !$data.enabled() }">
                    <td>
                        <button class="btn btn-default btn-xs glyphicon pull-left" data-bind="toggle: $data.enabled, css: {'glyphicon-eye-open': $data.enabled(), 'glyphicon-eye-close': !$data.enabled()}, preventBubble: 'click'"></button>
                        <button class="btn btn-default btn-xs glyphicon pull-right" data-bind="toggle: $data.visible, css: {'glyphicon-minus': $data.visible(), 'glyphicon-plus': !$data.visible()}, preventBubble: 'click'"></button>
                        <strong><span data-bind="text: $data.name"></span></strong>
                    </td>
                    <td class="text-right" data-bind="text: $data.totalRow[0]().toFixed(2)"></td>
                    <td class="text-right" data-bind="text: $data.totalRow[1]().toFixed(2)"></td>
                    <td class="text-right" data-bind="text: $data.totalRow[2]().toFixed(2)"></td>
                    <td class="text-right" data-bind="text: $data.totalRow[3]().toFixed(2)"></td>
                </tr>
            </tbody>
            <tbody class="indent" data-bind="foreach: $data.sources, visible: $data.visible">
                <tr data-bind="toggle: $data.enabled, css: { 'inactive': !$data.enabled() }">
                    <td class="indent">
                        <span data-bind="text: $data.name"></span>
                        <button class="btn btn-default btn-xs glyphicon pull-left" data-bind="toggle: $data.enabled, css: {'glyphicon-eye-open': $data.enabled(), 'glyphicon-eye-close': !$data.enabled()}, preventBubble: 'click'"></button>
                    </td>
                    <td class="text-right"><span data-bind="html: $data.damage.toFixed(2), style: {color: $parents[1].getDamageTypeColor($data.damageType)}"></span></td>
                    <td class="text-right"><span data-bind="html: $data.damageReduced.toFixed(2), style: {color: $parents[1].getDamageTypeColor($data.damageType)}"></span></td>
                    <td class="text-right"><span data-bind="html: $data.dps.toFixed(2), style: {color: $parents[1].getDamageTypeColor($data.damageType)}"></span></td>
                    <td class="text-right"><span data-bind="html: $data.dpsReduced.toFixed(2), style: {color: $parents[1].getDamageTypeColor($data.damageType)}"></span></td>
                </tr>
            </tbody>
            <tr class="indent crit" data-bind="visible: $data.visible() && $data.sourcesCrit.length > 0">
                <td class="indent">Critical Strike Proc, <span data-bind="text: ($data.totalCritChance * 100).toFixed(1) + '%'"></span></td>
                <td class="text-right" data-bind="text: $data.totalCritRow[0]().toFixed(2)"></td>
                <td class="text-right" data-bind="text: $data.totalCritRow[1]().toFixed(2)"></td>
                <td class="text-right" data-bind="text: $data.totalCritRow[2]().toFixed(2)"></td>
                <td class="text-right" data-bind="text: $data.totalCritRow[3]().toFixed(2)"></td>
            </tr>
            <tbody class="indent" data-bind="visible: $data.visible, foreach: $data.sourcesCrit">
                <tr class="indent crit" data-bind="toggle: $data.enabled, css: { 'inactive': !$data.enabled() }">
                    <td class="indent">
                        <span data-bind="text: $data.name"></span>
                        <button class="btn btn-default btn-xs glyphicon pull-left" data-bind="toggle: $data.enabled, css: {'glyphicon-eye-open': $data.enabled(), 'glyphicon-eye-close': !$data.enabled()}, preventBubble: 'click'"></button>
                    </td>
                    <td class="text-right"><span data-bind="html: $data.damage.toFixed(2)"></span></td>
                    <td class="text-right"><span data-bind="html: $data.damageReduced.toFixed(2)"></span></td>
                    <td class="text-right"><span data-bind="html: $data.dps.toFixed(2)"></span></td>
                    <td class="text-right"><span data-bind="html: $data.dpsReduced.toFixed(2)"></span></td>
                </tr>
            </tbody>
            <!-- /ko -->
            <tbody>
                <tr data-bind="visible: cleaveInfo().length > 0">
                    <td colspan=3><strong>Cleave</strong></td>
                </tr>
            </tbody>    
            <tbody data-bind="foreach: cleaveInfo()">
                <tr><td>Radius:</td><td class="text-right"><span data-bind="html: $data.radius"></span></td></tr>
                <tr><td>Magnitude:</td><td class="text-right"><span data-bind="html: ($data.magnitude * 100).toFixed(2) + '%'"></span></td></tr>
                <tr>
                    <td>Cleave Damage:</td>
                    <td class="text-right"><span data-bind="html: ($data.magnitude * $parent.damageTotalInfo().total).toFixed(2)"></span></td>
                </tr>
            </tbody>
        
        </table>
    </div>
</div>