<div class="col-md-12">
    <h3 class="section_header" data-bind="toggle: sectionDisplay().damageamp, css: { section_disabled: !sectionDisplay().damageamp() }">Damage Amplification & Reduction</h3>
    <div data-bind="visible: sectionDisplay().damageamp(), lazyBinding: sectionDisplay().damageamp">
        <div class="form-horizontal">
            <div class="form-group">
                    <div class="col-md-3 control-label">
                        <label for="damageinput">Damage</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="damageinput" data-bind="value: damageInputValue" />
                    </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                    <div class="col-md-3 control-label">
                        <label for="buffampselect">Amplification</label>
                    </div>
                    <div class="col-md-5">
                        <select id="buffampselect" class="form-control" data-bind="options: damageAmplification.availableBuffs , optionsText: 'buffDisplayName', value: damageAmplification.selectedBuff"></select>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-default" data-bind="click: damageAmplification.addBuff">Add</button>
                        <button class="btn btn-default" data-bind="click: function(data,event) { damageAmplification.removeBuff(data, event, damageAmplification.selectedBuff().buffName) }">Remove</button>
                    </div>
            </div>
        </div>
        <div class="row" data-bind="foreach: damageAmplification.buffs">
            <div data-bind="css: {row: $data.data.isDetail() || ($index() < $parent.damageAmplification.buffs().length-1 && $parent.damageAmplification.buffs()[$index()+1].data.isDetail()), row2: $data.data.isDetail() || ($index() < $parent.damageAmplification.buffs().length-1 && $parent.damageAmplification.buffs()[$index()+1].data.isDetail()) }">
                <div class="col-md-3 text-center bottom-buffer row2" data-bind="css: {'col-md-3': $root.layout() == 0, 'col-md-2': $root.layout() == 1}">
                    <img style="padding:0px;margin-bottom:1px;" class="img-rounded ability" data-bind="css: { ability_active: $data.data.isActive() || $data.data.behavior.indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') != -1, ability_inactive: !$data.data.isActive() && $data.data.behavior.indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') == -1, btn: $data.data.behavior.indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') == -1, 'btn-default': $data.data.behavior.indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') == -1}, attr:{src: '/media/images/spellicons/' + $data.data.name + '.png'}, click: function(data, event) { $parent.damageAmplification.toggleBuff($index, data.data, event); }, event: { dblclick: function(data,event) { $parent.damageAmplification.removeBuff(data, event, $data.data.name) } }"/>
                    <div class="progress" style="position:relative">
                        <div style="position:absolute;width:100%;color:white;" class="text-center" data-bind="visible: $parent.getAbilityLevelMax($data.data) > 0, text: $data.data.level() + '/' + $parent.getAbilityLevelMax($data.data)"></div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" data-bind="attr: { 'aria-valuenow': ($parent.getAbilityLevelMax($data.data) > 0 ? $data.data.level()/$parent.getAbilityLevelMax($data.data)*100 : 0) }, style: { width: ($parent.getAbilityLevelMax($data.data) > 0 ? $data.data.level()/$parent.getAbilityLevelMax($data.data)*100 : 0) + '%' }"></div>
                    </div>
                    <div class="btn-group btn-group-justified" data-bind="if: $data.data.behavior.indexOf('DOTA_ABILITY_BEHAVIOR_NOT_LEARNABLE') == -1">
                        <a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.damageAmplification.levelDownAbility($index, data.data, event, $parent); }">-</a>
                        <a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.damageAmplification.levelUpAbility($index, data.data, event, $parent); }">+</a>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.damageAmplification.toggleBuffDetail($index, data, event); }, css: {'toggled': $data.data.isDetail}">Details</a>
                    </div>
                </div>
                <div class="col-md-9 bottom-buffer" data-bind="visible: $data.data.isDetail()">
                    <button type="button" class="close" data-bind="click: function(data, event) { $parent.damageAmplification.toggleBuffDetail($index, data.data, event); }">&times;</button>
                    <div data-bind="html: $parent.ability().getAbilityTooltipData($data.hero, $data.data.name)"></div>
                    <div data-bind="if: $data.data.name in $parent.damageAmplification.abilityData && $parent.damageAmplification.buffs()[$index()].data.level() > 0">
                        <div class="col-md-8">
                            <div data-bind="component: { name: 'buff-settings', params: $parent.damageAmplification.abilitySettingsData($data.data.name, $parent, $index()) }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                    <div class="col-md-3 control-label">
                        <label for="buffreductionselect">Reduction</label>
                    </div>
                    <div class="col-md-5">
                        <select id="buffreductionselect" class="form-control" data-bind="options: damageReduction.availableDebuffs , optionsText: 'buffDisplayName', value: damageReduction.selectedBuff"></select>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-default" data-bind="click: damageReduction.addBuff">Add</button>
                        <button class="btn btn-default" data-bind="click: function(data,event) { damageReduction.removeBuff(data, event, damageReduction.selectedBuff().buffName) }">Remove</button>
                    </div>
            </div>
        </div>
        <div class="row" data-bind="foreach: damageReduction.buffs">
            <div data-bind="css: {row: $data.data.isDetail() || ($index() < $parent.damageReduction.buffs().length-1 && $parent.damageReduction.buffs()[$index()+1].data.isDetail()), row2: $data.data.isDetail() || ($index() < $parent.damageReduction.buffs().length-1 && $parent.damageReduction.buffs()[$index()+1].data.isDetail()) }">
                <div class="col-md-3 text-center bottom-buffer row2" data-bind="css: {'col-md-3': $root.layout() == 0, 'col-md-2': $root.layout() == 1}">
                    <img style="padding:0px;margin-bottom:1px;" class="img-rounded ability" data-bind="css: { ability_active: $data.data.isActive() || $data.data.behavior.indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') != -1, ability_inactive: !$data.data.isActive() && $data.data.behavior.indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') == -1, btn: $data.data.behavior.indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') == -1, 'btn-default': $data.data.behavior.indexOf('DOTA_ABILITY_BEHAVIOR_PASSIVE') == -1}, attr:{src: '/media/images/spellicons/' + $data.data.name + '.png'}, click: function(data, event) { $parent.damageReduction.toggleBuff($index, data.data, event); }, event: { dblclick: function(data,event) { $parent.damageReduction.removeBuff(data, event, $data.data.name) } }"/>
                    <div class="progress" style="position:relative">
                        <div style="position:absolute;width:100%;color:white;" class="text-center" data-bind="visible: $parent.getAbilityLevelMax($data.data) > 0, text: $data.data.level() + '/' + $parent.getAbilityLevelMax($data.data)"></div>
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" data-bind="attr: { 'aria-valuenow': ($parent.getAbilityLevelMax($data.data) > 0 ? $data.data.level()/$parent.getAbilityLevelMax($data.data)*100 : 0) }, style: { width: ($parent.getAbilityLevelMax($data.data) > 0 ? $data.data.level()/$parent.getAbilityLevelMax($data.data)*100 : 0) + '%' }"></div>
                    </div>
                    <div class="btn-group btn-group-justified" data-bind="if: $data.data.behavior.indexOf('DOTA_ABILITY_BEHAVIOR_NOT_LEARNABLE') == -1">
                        <a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.damageReduction.levelDownAbility($index, data.data, event, $parent); }">-</a>
                        <a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.damageReduction.levelUpAbility($index, data.data, event, $parent); }">+</a>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default btn-sm" data-bind="click: function(data, event) { $parent.damageReduction.toggleBuffDetail($index, data, event); }, css: {'toggled': $data.data.isDetail}">Details</a>
                    </div>
                </div>
                <div class="col-md-9 bottom-buffer" data-bind="visible: $data.data.isDetail()">
                    <button type="button" class="close" data-bind="click: function(data, event) { $parent.damageReduction.toggleBuffDetail($index, data.data, event); }">&times;</button>
                    <div data-bind="html: $parent.ability().getAbilityTooltipData($data.hero, $data.data.name)"></div>
                    <div data-bind="if: $data.data.name in $parent.damageReduction.abilityData && $parent.damageReduction.buffs()[$index()].data.level() > 0">
                        <div class="col-md-8">
                            <div data-bind="component: { name: 'buff-settings', params: $parent.damageReduction.abilitySettingsData($data.data.name, $parent, $index()) }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <h4>Calculations <a class="btn btn-default btn-xs" data-bind="toggle: showDamageAmpCalcDetails, text: !showDamageAmpCalcDetails() ? 'Show details' : 'Hide details'"></a></h4>
        <table class="table">
            <tbody>
                <!-- ko foreach: damageInputModified().data -->
                <tr data-bind="visible: $parent.showDamageAmpCalcDetails()">
                    <td><span style="text-decoration: underline;" data-bind="text: $data.label + ' damage'"></span></td>
                    <td class="text-right"><span data-bind="html: Math.round($data.value * 100) / 100, style: {color: $parent.getDamageTypeColor($data.damageType)}"></span></td>
                </tr>
                    <!-- ko foreach: $data.data -->
                    <tr data-bind="visible: $parents[1].showDamageAmpCalcDetails()">
                        <td><span data-bind="text: $data.label"></span></td>
                        <td class="text-right"><span data-bind="html: Math.round($data.value * 100) / 100, diffStyle: $data.value"></span></td>
                    </tr>
                    <!-- /ko -->
                <tr data-bind="css: {subtotal: $parent.showDamageAmpCalcDetails()}">
                    <td data-bind="visible: $parent.showDamageAmpCalcDetails()"><span data-bind="text: $data.label + ' damage subtotal'"></span></td>
                    <td data-bind="visible: !$parent.showDamageAmpCalcDetails()"><span data-bind="text: $data.label + ' damage'"></span></td>
                    <td class="text-right"><span data-bind="html: Math.round($data.total * 100) / 100, style: {color: $parent.getDamageTypeColor($data.damageType)}"></span></td>
                </tr>
                <!-- /ko -->
                <tr>
                    <td><strong data-bind="text: damageInputModified().label + ' damage'"></strong></td>
                    <td class="text-right"><strong data-bind="html: Math.round(damageInputModified().total * 100) / 100, style: {color: getDamageTypeColor(damageInputModified().damageType)}"></strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>