        <div id="shop-container" class="col-md-12 col-lg-4" data-bind="shopDockStyle: shopDockTrigger, visible: displayShop() || shopPopout(), css: {'col-lg-4': !shopPopout()}, style: { 'padding-top': shopPopout() ? '5px' : '0px'}">
              <button id="shop-minimize" class="btn btn-default btn-xs shop-button glyphicon glyphicon-minus pull-right" data-bind="toggle: displayShop, visible: displayShop()" title="Minimize shop"></button>
              <button id="shop-maximize" class="btn btn-default btn-xs shop-button glyphicon glyphicon-plus pull-right" data-bind="toggle: displayShop, visible: !displayShop()" title="Maximize shop"></button>
              <button class="btn btn-default btn-xs shop-button glyphicon glyphicon-new-window pull-right hidden-xs" data-bind="click: shopPopout, visible: !shopPopout()" title="Popout shop"></button>
              <button class="btn btn-default btn-xs shop-button glyphicon glyphicon-align-right pull-right hidden-xs" data-bind="toggle: shopDock, attr: { title: shopDock() ? 'Undock shop to right side of screen' : 'Dock shop to right side of screen' }" ></button>
            <ul id="shoptabs" class="nav nav-tabs" data-bind="visible: displayShop()">
              <li><a href="#shop_basic" data-toggle="tab">Basic</a></li>
              <li><a href="#shop_upgrade" data-toggle="tab">Upgrade</a></li>
              <li><a href="#shop_secret" data-toggle="tab">Secret</a></li>
            </ul>
            <div class="tab-content text-center bottom-buffer2" data-bind="visible: displayShop()">
                <div class="tab-pane active" id="shop_basic">
<div class="shop-column">
  <div class="hc-shop hc-shop-consumables" id="consumables"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-clarity" id="clarity" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-faerie_fire" id="faerie_fire" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-enchanted_mango" id="enchanted_mango" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-tango" id="tango" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-flask" id="flask" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-smoke_of_deceit" id="smoke_of_deceit" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-tpscroll" id="tpscroll" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-dust" id="dust" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-courier" id="courier" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-flying_courier" id="flying_courier" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-ward_observer" id="ward_observer" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-ward_sentry" id="ward_sentry" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-tome_of_knowledge" id="tome_of_knowledge" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-bottle" id="bottle" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
</div>
<div class="shop-column">
  <div class="hc-shop hc-shop-attributes" id="attributes"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-branches" id="branches" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-gauntlets" id="gauntlets" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-slippers" id="slippers" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-mantle" id="mantle" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-circlet" id="circlet" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-belt_of_strength" id="belt_of_strength" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-boots_of_elves" id="boots_of_elves" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-robe" id="robe" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-ogre_axe" id="ogre_axe" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-blade_of_alacrity" id="blade_of_alacrity" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-staff_of_wizardry" id="staff_of_wizardry" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-emptyitembg" id="emptyitembg"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-emptyitembg" id="emptyitembg"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-emptyitembg" id="emptyitembg"></div>
</div>
<div class="shop-column">
  <div class="hc-shop hc-shop-armaments" id="armaments"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-ring_of_protection" id="ring_of_protection" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-stout_shield" id="stout_shield" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-quelling_blade" id="quelling_blade" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-infused_raindrop" id="infused_raindrop" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-blight_stone" id="blight_stone" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-orb_of_venom" id="orb_of_venom" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-blades_of_attack" id="blades_of_attack" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-chainmail" id="chainmail" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-quarterstaff" id="quarterstaff" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-helm_of_iron_will" id="helm_of_iron_will" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-broadsword" id="broadsword" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-claymore" id="claymore" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-javelin" id="javelin" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-mithril_hammer" id="mithril_hammer" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
</div>
<div class="shop-column">
  <div class="hc-shop hc-shop-arcane" id="arcane"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-wind_lace" id="wind_lace" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-magic_stick" id="magic_stick" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-sobi_mask" id="sobi_mask" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-ring_of_regen" id="ring_of_regen" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-boots" id="boots" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-gloves" id="gloves" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-cloak" id="cloak" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-ring_of_health" id="ring_of_health" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-void_stone" id="void_stone" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-gem" id="gem" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-lifesteal" id="lifesteal" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-shadow_amulet" id="shadow_amulet" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-ghost" id="ghost" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-blink" id="blink" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
</div>


                </div>
                <div class="tab-pane" id="shop_upgrade">
<div class="shop-column">
  <div class="hc-shop hc-shop-common" id="common"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-magic_wand" id="magic_wand" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-null_talisman" id="null_talisman" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-wraith_band" id="wraith_band" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-poor_mans_shield" id="poor_mans_shield" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-bracer" id="bracer" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-soul_ring" id="soul_ring" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-phase_boots" id="phase_boots" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-power_treads" id="power_treads" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-oblivion_staff" id="oblivion_staff" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-pers" id="pers" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-hand_of_midas" id="hand_of_midas" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-travel_boots" id="travel_boots" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-moon_shard" id="moon_shard" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-emptyitembg" id="emptyitembg"></div>
</div>
<div class="shop-column">
  <div class="hc-shop hc-shop-support" id="support"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-ring_of_basilius" id="ring_of_basilius" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-iron_talon" id="iron_talon" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-headdress" id="headdress" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-buckler" id="buckler" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-urn_of_shadows" id="urn_of_shadows" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-tranquil_boots" id="tranquil_boots" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-ring_of_aquila" id="ring_of_aquila" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-medallion_of_courage" id="medallion_of_courage" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-arcane_boots" id="arcane_boots" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-ancient_janggo" id="ancient_janggo" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-mekansm" id="mekansm" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-vladmir" id="vladmir" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-pipe" id="pipe" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-guardian_greaves" id="guardian_greaves" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
</div>
<div class="shop-column">
  <div class="hc-shop hc-shop-caster" id="caster"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-glimmer_cape" id="glimmer_cape" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-force_staff" id="force_staff" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-veil_of_discord" id="veil_of_discord" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-aether_lens" id="aether_lens" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-necronomicon" id="necronomicon" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-dagon" id="dagon" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-cyclone" id="cyclone" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-solar_crest" id="solar_crest" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-rod_of_atos" id="rod_of_atos" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-orchid" id="orchid" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-ultimate_scepter" id="ultimate_scepter" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-refresher" id="refresher" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-sheepstick" id="sheepstick" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-octarine_core" id="octarine_core" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
</div>
<div class="shop-column">
  <div class="hc-shop hc-shop-weapons" id="weapons"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-lesser_crit" id="lesser_crit" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-armlet" id="armlet" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-invis_sword" id="invis_sword" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-basher" id="basher" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-bfury" id="bfury" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-ethereal_blade" id="ethereal_blade" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-silver_edge" id="silver_edge" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-radiance" id="radiance" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-monkey_king_bar" id="monkey_king_bar" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-greater_crit" id="greater_crit" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-butterfly" id="butterfly" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-rapier" id="rapier" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-abyssal_blade" id="abyssal_blade" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-bloodthorn" id="bloodthorn" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
</div>
<div class="shop-column">
  <div class="hc-shop hc-shop-armor" id="armor"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-hood_of_defiance" id="hood_of_defiance" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-vanguard" id="vanguard" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-blade_mail" id="blade_mail" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-soul_booster" id="soul_booster" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-crimson_guard" id="crimson_guard" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-black_king_bar" id="black_king_bar" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-lotus_orb" id="lotus_orb" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-shivas_guard" id="shivas_guard" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-bloodstone" id="bloodstone" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-manta" id="manta" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-sphere" id="sphere" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-hurricane_pike" id="hurricane_pike" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-assault" id="assault" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-heart" id="heart" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
</div>
<div class="shop-column">
  <div class="hc-shop hc-shop-artifacts" id="artifacts"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-mask_of_madness" id="mask_of_madness" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-helm_of_the_dominator" id="helm_of_the_dominator" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-dragon_lance" id="dragon_lance" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-sange" id="sange" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-yasha" id="yasha" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-echo_sabre" id="echo_sabre" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-maelstrom" id="maelstrom" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-diffusal_blade" id="diffusal_blade" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-desolator" id="desolator" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-heavens_halberd" id="heavens_halberd" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-sange_and_yasha" id="sange_and_yasha" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-skadi" id="skadi" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-mjollnir" id="mjollnir" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-satanic" id="satanic" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
</div>
                </div>
                <div class="tab-pane" id="shop_secret">
<div class="shop-column">
  <div class="hc-shop hc-shop-secret" id="secret"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-energy_booster" id="energy_booster" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-vitality_booster" id="vitality_booster" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-point_booster" id="point_booster" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-platemail" id="platemail" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-talisman_of_evasion" id="talisman_of_evasion" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-hyperstone" id="hyperstone" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-ultimate_orb" id="ultimate_orb" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-demon_edge" id="demon_edge" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-mystic_staff" id="mystic_staff" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-eagle" id="eagle" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-reaver" id="reaver" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
  <div class="img-rounded items-sprite-50x36 items-sprite-relic" id="relic" data-bind="click: changeSelectedItem, event: { dblclick: addItem }"></div>
</div>
                </div>
            </div>

            <div class="form-group" data-bind="visible: displayShop()">
                <div class="input-group">
                    <input class="form-control" id="auto" data-bind="jqAuto: { autoFocus: true, html: true }, jqAutoSource: itemOptions, jqAutoValue: selectedItem, jqAutoSourceLabel: 'displayname', jqAutoSourceInputValue: 'name', jqAutoSourceValue: 'value'" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-bind="jqAutoCombo: 'auto'"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>

            <div data-bind="visible: selectedItem() && displayShop()">
                <button class="btn btn-default btn-xs glyphicon glyphicon-minus pull-right" data-bind="toggle: displayShopItemTooltip, visible: displayShopItemTooltip()" title="Hide item description"></button>
                <button class="btn btn-default btn-xs glyphicon glyphicon-plus pull-right" data-bind="toggle: displayShopItemTooltip, visible: !displayShopItemTooltip()" title="Show item description"></button>
                <div data-bind="html: getItemTooltipData, css: { 'hide-shop-item-details': !displayShopItemTooltip() }"></div>
                <div style="margin-top:10px;margin-bottom:10px;" class="form-inline" data-bind="visible: getItemInputLabel() != ''">
                    <div class="form-group">
                        <label for="iteminput" data-bind="text: getItemInputLabel"></label>
                        <input class="form-control" id="iteminput" data-bind="value: itemInputValue" />
                    </div>
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-default" data-bind="click: addItem">Add Item</button>
                </div>
            </div>
        </div>