$imgPath: "img/";
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;

@import 'jquery-ui';
@import 'shop';
@import 'shop.header';
@import 'items_50x36_sprite_jpg';
@import 'common';
@import 'layout';
@import 'error';
@import 'player.color';
@import 'theme.dark';
@import 'talents';