$imgPath: "img/";

@import 'jquery-ui';
@import 'hero-calculator.shop';
@import 'items_50x36_sprite_jpg';
@import 'hero-calculator.common';
@import 'hero-calculator.theme.dark';

$screen-sm-min: 768px;

.talent {
    margin-bottom: 5px;
}

.talent-level {
    display: block;
    @media (min-width: $screen-sm-min) {
        display: inline-block;
        width: 70px;
    }
}

.talent-1, .talent-2 {
    display: block;
    @media (min-width: $screen-sm-min) {
        display: inline-block;
        width: calc(50% - 35px);
    }
}