.player-color-0 {
    color: #2E6AE6; /*Blue*/
}

.player-color-1 {
    color: #5DE6AD; /*Teal*/
}

.player-color-2 {
    color: #AD00AD; /*Purple*/
}

.player-color-3 {
    color: #DCD90A; /*Yellow*/
}

.player-color-4 {
    color: #E66200; /*Orange*/
}

.player-color-5 {
    color: #E67AB0; /*Pink*/
}

.player-color-6 {
    color: #92A440; /*Pus Yellow*/
}

.player-color-7 {
    color: #5CC5E0; /*Light Blue*/
}

.player-color-8 {
    color: #00771F; /*Green*/
}

.player-color-9 {
    color: #956000; /*Brown*/
}