<div class="row">
    <div class="col-md-4">
        <img class="img-rounded" data-bind="attr:{src: '/media/images/heroes/meepo.png'}"/>
    </div>
</div>

<div class="row">
    <div class="col-md-4" data-bind="css: {'col-md-4': $root.layout() == 0, 'col-md-12': $root.layout() == 1}">
        <div class="row">
            <h3 class="col-md-12">Stats <a class="btn btn-default btn-xs" data-bind="toggle: showStatDetails, text: !showStatDetails() ? 'Show more' : 'Show less', attr: {title: !showStatDetails() ? 'Click to show base stats' : 'Click to hide base stats'}"></a></h3>

            <div class="col-md-12" data-bind="visible: showStatDetails(), css: {'col-md-12': $root.layout() == 0, 'col-md-3': $root.layout() == 1}, component: {name: 'stats-additional', params: $data}"></div>

            <div class="statscontainer" data-bind="foreach: $root.allItems">
                <div data-bind="component: { name: $data.value, params: $root.heroes[$parentContext.$index()].clone()}"></div>
            </div>
        </div>
        
        <div class="row" data-bind="component: { name: 'damage-details', params: $data}"></div>
    </div>
    <div class="col-md-8" data-bind="css: {'col-md-8': $root.layout() == 0, 'col-md-12': $root.layout() == 1}">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section_header" data-bind="toggle: sectionDisplay().inventory, css: { section_disabled: !sectionDisplay().inventory() }">Inventory <small style="color:goldenrod" data-bind="html: inventory.totalCost() ? '<img src=\'http://cdn.dota2.com/apps/dota2/images/tooltips/gold.png\'/> ' + inventory.totalCost() : '' "></small></h3>
                <div id="inventory" class="inventory hover-cursor" data-bind="click: function (data, event) { buildExplorer.selectInventory(-1); }, css: {'row-highlight': selectedInventory() == -1}, template: { name: 'item-template', foreach: inventory.items }, visible: sectionDisplay().inventory()"></div>
            </div>
        </div>

        <div class="row" data-bind="component: { name: 'damage-amp', params: $data}"></div>
    </div>
</div>