<div class="row">
    <div class="col-md-3">
        <img class="img-rounded hero-image" data-bind="attr:{src: '/media/images/heroes/' + selectedHero().heroName + '.png'}"/>
    </div>
    <div class="col-md-9">
        <div class="row form-group">
            <div class="col-md-6">
                <label for="heroselect">Hero</label>
                <select id="heroselect" class="form-control" data-bind="options: availableHeroes , optionsText: 'heroDisplayName', value: selectedHero"></select>
            </div>
            <div class="col-md-6">
                <label for="herolevel">Level</label>
                <input id="herolevel" data-bind="spinner: selectedHeroLevel, spinnerOptions: { min: 1, max: 25 }">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="enemyselect">Enemy</label>
                <select id="enemyselect" class="form-control" data-bind="css: enemy().playerColorCss, options: availableEnemies , optionsText: 'heroDisplayName', value: selectedEnemy, optionsAfterRender: setHeroOptionStyling"></select>
            </div>
            <div class="col-md-6">
                <label for="enemyselect">Compare to</label>
                <select id="enemyselect" class="form-control" data-bind="css: heroCompare().playerColorCss, options: availableCompare , optionsText: 'heroDisplayName', value: selectedCompare, optionsAfterRender: setHeroOptionStyling"></select>
            </div>
            <div class="col-md-12 checkbox" style="margin-bottom:0px;padding-left:34px;" data-bind="visible: $root.layout() == 0">
                <label><input type="checkbox" style="float:none;margin-right:5px;" data-bind="checked: showDiff"><span style="font-size:12px">Show <abbr title="The difference between two adjacent hero tabs shown next to each stat.">delta values</abbr>. <span data-bind="visible: showDiff">Comparing level <span data-bind="text: selectedHeroLevel"></span> <span data-bind="text: heroData().displayname, css: playerColorCss"></span> to level <span data-bind="text: heroCompare().selectedHeroLevel"></span> <span data-bind="text: heroCompare().heroData().displayname, css: heroCompare().playerColorCss"></span>.</span></span></label>
                <label style="margin-left:25px;font-size:12px;"><input type="checkbox" style="float:none;margin-right:5px;" data-bind="checked: showUnitTab">Show unit tab</label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4" data-bind="css: {'col-md-4': $root.layout() == 0, 'col-md-12': $root.layout() == 1}">
        <div class="row">
            <h3 class="col-md-12">Stats <a class="btn btn-default btn-xs" data-bind="toggle: showStatDetails, text: !showStatDetails() ? 'Show more' : 'Show less', attr: {title: !showStatDetails() ? 'Click to show base stats' : 'Click to hide base stats'}"></a>
                <div style="margin-left:15px;display:inline;" data-bind="style: {'display': $root.layout() == 1 ? 'inline' : 'none'}">
                    <label><input type="checkbox" style="float:none;margin-right:5px;" data-bind="checked: showDiff"><span style="font-size:12px">Show <abbr title="The difference between two adjacent hero tabs shown next to each stat.">delta values</abbr>. <span data-bind="visible: showDiff">Comparing level <span data-bind="text: selectedHeroLevel"></span> <span data-bind="text: heroData().displayname, css: playerColorCss"></span> to level <span data-bind="text: heroCompare().selectedHeroLevel"></span> <span data-bind="text: heroCompare().heroData().displayname, css: heroCompare().playerColorCss"></span>.</span></span></label>
                    <label style="margin-left:25px;font-size:12px;"><input type="checkbox" style="float:none;margin-right:5px;" data-bind="checked: showUnitTab">Show unit tab</label>
                </div>
            </h3>

            <div class="col-md-12" data-bind="visible: showStatDetails(), css: {'col-md-12': $root.layout() == 0, 'col-md-3': $root.layout() == 1}, component: {name: 'stats-additional', params: $data}"></div>

            <div class="statscontainer" data-bind="foreach: $root.allItems">
                <div data-bind="component: { name: $data.value, params: $parentContext.$data}"></div>
            </div>
        </div>
    </div>
    <div class="col-md-8" data-bind="css: {'col-md-8': $root.layout() == 0, 'col-md-12': $root.layout() == 1}">
        <div data-bind="component: { name: 'damage-details', params: $data}"></div>
    
        <div class="row">
            <div class="col-md-12" data-bind="itemBuildTable: $data.buildExplorer">
                <h3 class="section_header" data-bind="toggle: sectionDisplay().inventory, css: { section_disabled: !sectionDisplay().inventory() }">Inventory <small style="color:goldenrod" data-bind="html: inventory.totalCost() ? '<img src=\'http://cdn.dota2.com/apps/dota2/images/tooltips/gold.png\'/> ' + inventory.totalCost() : '' "></small></h3>
                <div id="inventory" class="inventory hover-cursor" data-bind="click: function (data, event) { buildExplorer.selectInventory(-1); }, css: {'row-highlight': selectedInventory() == -1}, template: { name: 'item-template', foreach: inventory.items }, visible: sectionDisplay().inventory()"></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h3 class="section_header" data-bind="toggle: sectionDisplay().ability, css: { section_disabled: !sectionDisplay().ability() }">Abilities <small style="color:inherit" data-bind="text: availableSkillPoints() ? (availableSkillPoints() == 1 ? '1 unspent skillpoint' : availableSkillPoints() + ' unspent skillpoints') : ''"></small></h3>
                <div class="row" data-bind="visible: sectionDisplay().ability(), foreach: ability().abilities">
                    <div data-bind="component: { name: 'ability', params: $data }"></div>
                </div>
                <div class="form-horizontal" data-bind="if: selectedHero().heroName == 'silencer', visible: sectionDisplay().ability()">
                    <div class="form-group">
                            <div class="col-md-2 control-label">
                                <label for="intelligencestolen">Intelligence Stolen</label>
                            </div>
                            <div class="col-md-2">
                                <input class="form-control" id="intelligencestolen" data-bind="value: intStolen" />
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div data-bind="component: { name: 'buff-section', params: $data}"></div>
        
        <div class="row" data-bind="component: { name: 'damage-amp', params: $data}"></div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="section_header" data-bind="toggle: sectionDisplay().illusion, css: { section_disabled: !sectionDisplay().illusion() }">Illusions</h3>
                <div data-bind="visible: sectionDisplay().illusion(), lazyBinding: sectionDisplay().illusion">
                    <h4 style="color:red">Under Construction</h4>
                    <div class="form-horizontal">
                        <div class="form-group">
                                <div class="col-md-2 control-label">
                                    <label for="illusionSelect">Type</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="illusionSelect" class="form-control" data-bind="options: availableIllusions , optionsText: 'illusionDisplayName', value: selectedIllusion"></select>
                                </div>
                        </div>
                        <div class="form-group">
                                <div class="col-md-2 control-label">
                                    <label for="illusionabilitylevel">Ability Level</label>
                                </div>
                                <div class="col-md-10">
                                    <select id="illusionabilitylevel" class="form-control" data-bind="value: illusionAbilityLevel, foreach: new Array(illusionAbilityMaxLevel())">
                                        <option data-bind="text: $index()+1"></option>
                                    </select>
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-default" data-bind="click: addIllusion">Add Illusion</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-12">
        <h3 class="section_header" data-bind="toggle: sectionDisplay().skillbuild, css: { section_disabled: !sectionDisplay().skillbuild() }">Build Explorer</h3>
        <div data-bind="visible: sectionDisplay().skillbuild(), attr: {id: 'section-build-explorer-' + index() }, lazyBinding: sectionDisplay().skillbuild">
            <div class="section-content">    
                <div class="col-md-12">
                    <h4 class="section_header" data-bind="toggle: sectionDisplay()['skillbuild-skills'], css: { section_disabled: !sectionDisplay()['skillbuild-skills']() }">Skill Build <small style="color:inherit" data-bind="text: buildExplorer.availableSkillBuildPoints() ? (buildExplorer.availableSkillBuildPoints() == 1 ? '1 unspent skillpoint' : buildExplorer.availableSkillBuildPoints() + ' unspent skillpoints') : ''"></small></h4>
                        <div data-bind="visible: sectionDisplay()['skillbuild-skills']">
                        <table>
                            <tbody data-bind="template: { name: 'ability-3-template', foreach: ability().abilities }"></tbody>
                        </table>
                        <div class="form-group">
                            <button class="btn btn-default" data-bind="click: buildExplorer.resetSkillBuild">Clear</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4 class="section_header" data-bind="toggle: sectionDisplay()['skillbuild-items'], css: { section_disabled: !sectionDisplay()['skillbuild-items']() }">Item Build</h4>
                    <div data-bind="visible: sectionDisplay()['skillbuild-items']">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Level</th>
                                    <th class="text-center">Inventory</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: new Array(25), itemBuildTable: buildExplorer">
                                <tr class="hover-cursor" data-bind="css: {'row-highlight': $parent.selectedInventory() == $index()}">
                                    <td class="carry-over" data-bind="click: function (data, event) { $parent.buildExplorer.selectInventory($index()); }">
                                        <strong data-bind="text: ($index() + 1)"></strong>
                                        <a class="btn btn-default btn-xs glyphicon" data-bind="visible: $index() > 0, toggle: $parent.buildExplorer.itemBuild()[$index()].carryOver, preventBubble: 'click', css: { 'glyphicon-arrow-down': $parent.buildExplorer.itemBuild()[$index()].carryOver(), 'glyphicon-stop': !$parent.buildExplorer.itemBuild()[$index()].carryOver() }" title="Carry over items to next level's inventory"></a>
                                    </td>
                                    <td class="col-md-10" data-bind="click: function (data, event) { $parent.buildExplorer.selectInventory($index()); }">
                                        <div class="itemBuild-inventory" data-bind="template: { name: 'itemBuild-item-template', foreach: $parent.buildExplorer.itemBuild()[$index()].items }"></div>
                                    </td>
                                    <td>
                                        <a class="btn btn-default btn-xs" data-bind="click: function (data, event) { $parent.buildExplorer.copyInventoryToClipBoard($index()); }" title="Copy items">Copy</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default btn-xs" data-bind="click: function (data, event) { $parent.buildExplorer.pasteInventoryFromClipBoard($index()); }" title="Paste items">Paste</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default btn-xs" data-bind="click: function (data, event) { $parent.buildExplorer.resetItemBuild($index()); }" title="Clear inventory">Clear</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <button class="btn btn-default" data-bind="click: buildExplorer.resetAllItemBuilds">Clear</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Data set header label</label>
                    <input type="text" class="form-control" data-bind="value: buildExplorer.graphDataHeader">
                </div>
                <div class="form-group">
                    <label>Data set description</label>
                    <input type="text" class="form-control" data-bind="value: buildExplorer.graphDataDescription">
                </div>
                <div class="form-group">
                    <button class="btn btn-default" data-bind="click: buildExplorer.graph">Add data set</button>
                </div>
                <div class="form-group">
                    <label>Hero Property</label>
                    <select class="form-control" data-bind="options: buildExplorer.graphProperties, optionsText: 'label', optionsValue: 'id', value: buildExplorer.selectedGraphProperty"></select>
                </div>
                <!-- ko if: buildExplorer.graphData().length > 0 -->
                <div class="form-group" data-bind="chart: buildExplorer.graphChartData, chartType: 'Scatter', chartOptions: buildExplorer.graphChartOptions(), chartContext: buildExplorer.graphChartContext"></div>
                <div class="form-group">
                  <button class="btn btn-default" data-bind="click: buildExplorer.exportImage"><span class="glyphicon glyphicon-export"></span> Export Image</button>
                </div>
                <button class="btn btn-default btn-xs" data-bind="toggle: buildExplorer.showGraphItemBuildRows, css: {'toggled': buildExplorer.showGraphItemBuildRows}">Show item build rows</button>
                <button class="btn btn-default btn-xs" data-bind="toggle: buildExplorer.showGraphSkillBuildColumns, css: {'toggled': buildExplorer.showGraphSkillBuildColumns}">Show skill build columns</button>
                <table class="table build-table">
                    <thead>
                        <tr>
                            <th class="right-border">Level</th>
                            <!-- ko foreach: buildExplorer.graphData -->
                            <th class="text-center" data-bind="css: { 'right-border': !$parent.buildExplorer.showGraphSkillBuildColumns() || !$data.visible() }">
                                <span data-bind="css: { 'tooltip-underline': $data.description }, tooltip: {title: $data.description, placement: 'bottom'}, visible: $data.visible(), text: $data.header, style: { color: $parent.buildExplorer.graphDistinctColor($parent.buildExplorer.graphData().length, $index(), 1) }"></span>
                                <span class="btn btn-xs glyphicon glyphicon-info-sign" data-bind="visible: $data.visible(), popover: {template: 'popover-graphData-template', data: $data, options: {} }"></span>
                                <button class="btn btn-default btn-xs shop-button glyphicon glyphicon-remove pull-right" class="close" data-bind="visible: !$parent.buildExplorer.showGraphSkillBuildColumns() || !$data.visible(), click: function(data, event) { $parent.buildExplorer.removeGraphDataSet($data); }"></button>
                                <button class="btn btn-default btn-xs shop-button glyphicon pull-right" data-bind="visible: !$parent.buildExplorer.showGraphSkillBuildColumns() || !$data.visible(), toggle: $data.visible, css: { 'glyphicon-minus': $data.visible(), 'glyphicon-plus': !$data.visible()}"></button>
                            </th>
                            <th class="text-left right-border" data-bind="visible: $data.visible() && $parent.buildExplorer.showGraphSkillBuildColumns()"><abbr title="Q-W-E-R-Stats">Skill Build</abbr>
                                <button class="btn btn-default btn-xs shop-button glyphicon glyphicon-remove pull-right" class="close" data-bind="visible: $parent.buildExplorer.showGraphSkillBuildColumns(), click: function(data, event) { $parent.buildExplorer.removeGraphDataSet($data); }"></button>
                                <button class="btn btn-default btn-xs shop-button glyphicon pull-right" data-bind="visible: $parent.buildExplorer.showGraphSkillBuildColumns(), toggle: $data.visible, css: { 'glyphicon-minus': $data.visible(), 'glyphicon-plus': !$data.visible()}"></button>
                            </th>
                            <!-- /ko -->
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: new Array(buildExplorer.graphData()[0].data.length)">
                        <tr>
                            <td class="right-border">
                                <strong data-bind="text: ($index() + 1)"></strong>
                            </td>
                            <!-- ko foreach: new Array($parent.buildExplorer.graphData().length) -->
                            <td class="text-right" data-bind="css: { 'right-border': !$parents[1].buildExplorer.showGraphSkillBuildColumns() || !$parents[1].buildExplorer.graphData()[$index()].visible() }">
                                <span data-bind="visible: $parents[1].buildExplorer.graphData()[$index()].visible(), text: $parents[1].buildExplorer.graphData()[$index()].data[$parentContext.$index()][$parents[1].buildExplorer.selectedGraphProperty()]"></span>
                            </td>
                            <td class="text-left right-border" data-bind="visible: $parents[1].buildExplorer.graphData()[$index()].visible() && $parents[1].buildExplorer.showGraphSkillBuildColumns(), text: $parents[1].buildExplorer.graphData()[$index()].cumulativeSkillBuild[$parentContext.$index()].join('-')"></td>
                            <!-- /ko -->
                        </tr>
                        <tr class="itemBuild-inventory" data-bind="visible: $parent.buildExplorer.showGraphItemBuildRows() && $parent.buildExplorer.graphRowHasItems($index())">
                            <td class="right-border-itemrow no-top-border"></td>
                            <!-- ko foreach: new Array($parent.buildExplorer.graphData().length) -->
                            <td class="right-border-itemrow no-top-border" data-bind="attr: { colspan: $parents[1].buildExplorer.graphData()[$index()].visible() && $parents[1].buildExplorer.showGraphSkillBuildColumns() ? 2 : 1 }">
                                <div data-bind="visible: $parents[1].buildExplorer.graphData()[$index()].visible(), foreach: $parents[1].buildExplorer.graphData()[$index()].data[$parentContext.$index()].items">
                                    <img class="itemBuild-img-sm img-rounded" data-bind="css: { item_disabled: !enabled, item_active: $parents[2].inventory.getActiveBorder($data) == 1, item_inactive: $parents[2].inventory.getActiveBorder($data) == 0 }, attr:{ src: $parents[2].inventory.getItemImage($data) }"/>
                                    <div style="float:left" data-bind="visible: $parents[2].inventory.getItemSizeLabel($data) != ''">
                                        <div data-bind="html: $parents[2].inventory.getItemSizeLabel($data)" style="position:absolute;left:0;bottom:0;color:white;opacity:.5;background-color:black;padding:0px 2px"></div>
                                        <div data-bind="html: $parents[2].inventory.getItemSizeLabel($data)" style="position:absolute;left:0;bottom:0;color:white;padding:0px 2px"></div>
                                    </div>
                                </div>
                            </td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
                <!-- /ko -->
            </div>
        </div>
    </div>

</div>