<div class="row">
    <div class="col-md-4">
        <div class="img-rounded" style="background-color:#428bca;display:inline-block">
            <img class="img-rounded" style="opacity:.5" data-bind="attr:{src: '/media/images/heroes/' + selectedHero().heroName + '.png'}"/>
        </div>
    </div>
    <div class="col-md-4">
        <label for="illusionlevel" data-bind="text: illusionDisplayName"></label>
        <table class="table">
            <tbody>
            <tr>
                <td>Damage Dealt</td>
                <td class="text-right" data-bind="text: (getOutgoingDamageMultiplier(illusionType(), false, hero().attacktype())*100).toFixed(0)+'%'"></td>
            </tr>
            <tr>
                <td>Damage Taken</td>
                <td class="text-right" data-bind="text: (getIncomingDamageMultiplier(illusionType(), false, hero().attacktype())*100).toFixed(0)+'%'"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div data-bind="visible: illusionType() != 'item_manta'">
            <label for="illusionlevel">Ability Level</label>
            <select id="illusionlevel" class="form-control" data-bind="value: illusionAbilityLevel, foreach: new Array(illusionAbilityMaxLevel())">
                <option data-bind="text: $index()+1"></option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4" data-bind="css: {'col-md-4': $root.layout() == 0, 'col-md-12': $root.layout() == 1}">
        <div class="row">
            <h3 class="col-md-12">Stats <a class="btn btn-default btn-xs" data-bind="toggle: showStatDetails, text: !showStatDetails() ? 'Show more' : 'Show less', attr: {title: !showStatDetails() ? 'Click to show base stats' : 'Click to hide base stats'}"></a></h3>

            <div class="col-md-12" data-bind="visible: showStatDetails(), css: {'col-md-12': $root.layout() == 0, 'col-md-3': $root.layout() == 1}, component: {name: 'stats-additional', params: $data}">
            </div>
            <div class="statscontainer" data-bind="foreach: $root.allItems">
                <div data-bind="component: { name: $data.value, params: $parentContext.$data}"></div>
            </div>
        </div>
    </div>
    <div class="col-md-8" data-bind="css: {'col-md-4': $root.layout() == 0, 'col-md-12': $root.layout() == 1}">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section_header" data-bind="toggle: sectionDisplay().inventory, css: { section_disabled: !sectionDisplay().inventory() }">Inventory <small style="color:goldenrod" data-bind="html: inventory.totalCost() ? '<img src=\'http://cdn.dota2.com/apps/dota2/images/tooltips/gold.png\'/> ' + inventory.totalCost() : '' "></small></h3>
                <div id="inventory" class="inventory hover-cursor" data-bind="click: function (data, event) { buildExplorer.selectInventory(-1); }, css: {'row-highlight': selectedInventory() == -1}, foreach: inventory.items, visible: sectionDisplay().inventory()">
                    <div class="btn-group">
                        <img style="width:75px;" class="img-rounded" data-bind="css: { item_disabled: !enabled(), item_active: $parent.inventory.getActiveBorder($data) == 1, item_inactive: $parent.inventory.getActiveBorder($data) == 0 }, attr:{ src: $parent.inventory.getItemImage($data) }, click: function(data, event) { $parent.inventory.toggleItem($index, data, event); }, event: { dblclick: $parent.inventory.removeItem }"/>
                        <div style="float:left" data-bind="visible: $parent.inventory.getItemSizeLabel($data) != ''">
                            <div data-bind="html: $parent.inventory.getItemSizeLabel($data)" style="position:absolute;left:0;bottom:0;color:white;opacity:.5;background-color:black;padding:0px 2px"></div>
                            <div data-bind="html: $parent.inventory.getItemSizeLabel($data)" style="position:absolute;left:0;bottom:0;color:white;padding:0px 2px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>