.error-warning-view {
    padding: 0px 5px 0px 0px;
}
.error-warning {
    margin: 0;
    margin-left: 20px;
    padding: 5px 10px;
    margin-top: 20px;
    float:left;
}
.error-log-close, .error-warning-close {
    float: right;
    font-weight: bold;
    padding-left: 10px;
    font-size: 20px;
}
.error-log-close:hover, .error-warning-close:hover {
    cursor: pointer;
}
.error-log-link {
    float: right;
}
.error-log {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    white-space: nowrap;
    border-radius: 4px;
    margin-bottom: 0;
}
.damage-details tbody td:nth-child(3), .damage-details-header-row-2 td:nth-child(3) {
    border-right: 1px solid #202125;
}
.damage-details-header-row-2 td:first-child {
    text-indent: 34px;
}
.damage-details-header-row td:nth-child(2) {
    border-right: 1px solid #202125;
}
.crit {
    color: #d9534f;
}
.damage-details input[type='checkbox'] {
    float: left;
    margin-left: -20px;
}
.damage-details tr.inactive {
    opacity: .5;
}
.tooltip-underline {
	cursor: help;
	border-bottom: 1px dotted #999;
}
.itemBuild-inventory img.itemBuild-img-sm {
	width: 40px;
	cursor: default;
}
.itemBuild-inventory img {
	width: 50px;
}
.itemBuild-inventory .btn {
	padding: 1px 5px;
}
.inventory img {
	width: 75px;
}
.inventory .btn {
	padding: 3px 10px;
}
.carry-over {
	position: relative;
}
.carry-over .btn {
	position: absolute;
	top: -8px;
	left: -24px;
}
#shop-container {
	z-index: 999;
}
.build-table tbody td.no-top-border {
	border-top: 0;
}
.build-table tbody td.right-border:last-child, .build-table tbody td.right-border:nth-last-child(2), .build-table tbody td.right-border-itemrow:last-child,
.build-table thead th.right-border:last-child, .build-table thead th.right-border:nth-last-child(2) {
	border-right: 0;
}
td {
    font-family: "Calibri";
	font-size: 15px;
}
.inventory {
    min-height: 77px;
    float: left;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.hide-shop-item-details .item_field {
	display: none;
}
.hide-shop-item-details .item_field.item_name, .hide-shop-item-details .item_field.item_cost {
	display: inline;
}
.hover-cursor {
	cursor: pointer;
}
.ui-spinner-button {
    width: 32px;
    height: 50%;
    font-size: .5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: default;
    display: block;
    overflow: hidden;
    right: 0;
    line-height: 2.5em;
}
.ui-spinner-up {
top: 0;
}
.ui-spinner-down {
bottom: 0;
}
.ui-spinner {
width: 100%;
position: relative;
display: inline-block;
overflow: hidden;
padding: 0;
vertical-align: middle;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
border-bottom-right-radius: 4px;
}
.ui-icon.ui-icon-triangle-1-n, .ui-icon.ui-icon-triangle-1-s {
    display:inline;
}

hr {
    margin: 3px 0px;
}

img {
    max-width: 100%;
}

.checkbox-label {
    cursor: pointer;
}
.indent {
    text-indent: 10px;
}
.indent .indent {
    text-indent: 20px;
}
.indent .indent .indent {
    text-indent: 30px;
}
.crit .indent {
    text-indent: 44px;
}
.diffPos {
    color: #5cb85c;
}

.diffNeg {
    color: #d9534f;
}
.modal-header {
    border-bottom: 1px solid #303239;
}

.modal-footer {
    border-top: 1px solid #303239;
}
.popped-out {
    box-shadow: 2px 2px 2px 2px black;
    float: left;
    background-color: white;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-dialog {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0;
    z-index: 100 !important;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.shop-button {
    margin: 5px;
}

.shop,.hc-item {
    max-width: 50px;
    padding: 2px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px 1px 1px 0px;
    box-shadow: 1px 1px black;
}

.hc-item:active {
    margin: 1px 0px 0px 1px;
    box-shadow: none;
}

#shop-dialog {
    width: 100% !important;
}
#shoptabs > li, #shoptabs > .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
 /* ie7 fix */
    zoom: 1;
 /* hasLayout ie7 trigger */;
}

#shoptabs, .nav-pills {
    text-align: center;
}

.item_field {
    display: block;
}

.item_active {
    border: 2px solid goldenrod;
    padding: 0px;
    float: left;
}

.item_inactive {
    padding: 2px;
    float: left;
}

.item_name {
    font-weight: bold;
    display: inline;
}

.item_cost {
    margin-left: 10px;
    display: inline;
    background-image: url('/media/images/gold.png');
    padding: 0px 0px 0px 27px;
    background-repeat: no-repeat;
}
.item_manacost {
    margin-right: 10px;
    display: inline;
    background-image: url('/media/images/manacost.png');
    padding: 0px 0px 0px 20px;
    background-repeat: no-repeat;
}

.item_cooldown {
    margin-right: 10px;
    display: inline;
    background-image: url('/media/images/cooldown.png');
    padding: 0px 0px 0px 20px;
    background-repeat: no-repeat;
}

.item_cdmana {
    padding: 10px 0px 0px 0px;
}

.item_lore {
    font-size: 8pt;
    font-style: italic;
}

.item_ability_damage_type {
    display: inline;
    margin-right: 10px;
}
.close:hover,
.close:focus, .ui-dialog-titlebar-close:hover, .ui-dialog-titlebar-close:focus {
    color: #979aa2;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
}

.ability_active {
    opacity: 1;
}

.ability_inactive, .item_disabled, .section_disabled {
    opacity: .35;
}

.item_active:hover,.item_inactive:hover,.hc-item:hover ,.section_header {
    cursor: pointer;
}

.section_header {
    display: inline-block;
}

.section_header:hover,.section_header:active {
    opacity: 0.8;
}

.progress-bar-danger {
    background-color: #428bca;
}

.progress {
    margin-bottom: 0px;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    margin-top: 10px;
}

.bottom-buffer2 {
    padding-bottom: 20px;
}

.row2 {
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 20px;
}

.row3 {
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
}
.form-control {
    border: 1px solid #303239;
}

.sideView {
    width: 50%;
    float: left;
    display: block !important;
    padding: 0px 15px;
}
@media ( max-width:991px ) {
    .bottom-buffer {
        padding-bottom: 20px;
    }
}
.shop-tab {
  width: 100%;
}

.shop-column {
  width: 50px;
  display: inline-block;
}

.hero-image {
    margin-top: 27px;
    width: 100%;
}

.nopadding {
   padding: 0;
   margin: 0;
}

.player-color-0 {
    color: #2E6AE6; /*Blue*/
}

.player-color-1 {
    color: #5DE6AD; /*Teal*/
}

.player-color-2 {
    color: #AD00AD; /*Purple*/
}

.player-color-3 {
    color: #DCD90A; /*Yellow*/
}

.player-color-4 {
    color: #E66200; /*Orange*/
}

.player-color-5 {
    color: #E67AB0; /*Pink*/
}

.player-color-6 {
    color: #92A440; /*Pus Yellow*/
}

.player-color-7 {
    color: #5CC5E0; /*Light Blue*/
}

.player-color-8 {
    color: #00771F; /*Green*/
}

.player-color-9 {
    color: #956000; /*Brown*/
}