.hc-item {
background-image: url("../img/hero-calculator.items.png");
background-repeat: no-repeat;
display: inline-block;
}
.hc-item-abyssal_blade {
width: 50px;
height: 36px;
background-position: 0px 0px;
}
.hc-item-aegis {
width: 50px;
height: 36px;
background-position: 0px -37px;
}
.hc-item-aether_lens {
width: 50px;
height: 36px;
background-position: 0px -74px;
}
.hc-item-ancient_janggo {
width: 50px;
height: 36px;
background-position: 0px -111px;
}
.hc-item-arcane_boots {
width: 50px;
height: 36px;
background-position: 0px -148px;
}
.hc-item-arcane_boots2 {
width: 50px;
height: 36px;
background-position: 0px -185px;
}
.hc-item-armlet {
width: 50px;
height: 36px;
background-position: 0px -222px;
}
.hc-item-armlet_active {
width: 50px;
height: 36px;
background-position: 0px -259px;
}
.hc-item-assault {
width: 50px;
height: 36px;
background-position: 0px -296px;
}
.hc-item-banana {
width: 50px;
height: 36px;
background-position: 0px -333px;
}
.hc-item-band_of_elvenskin {
width: 50px;
height: 36px;
background-position: 0px -370px;
}
.hc-item-basher {
width: 50px;
height: 36px;
background-position: 0px -407px;
}
.hc-item-belt_of_strength {
width: 50px;
height: 36px;
background-position: 0px -444px;
}
.hc-item-bfury {
width: 50px;
height: 36px;
background-position: 0px -481px;
}
.hc-item-black_king_bar {
width: 50px;
height: 36px;
background-position: 0px -518px;
}
.hc-item-blades_of_attack {
width: 50px;
height: 36px;
background-position: 0px -555px;
}
.hc-item-blade_mail {
width: 50px;
height: 36px;
background-position: -51px 0px;
}
.hc-item-blade_mail_axe_pw {
width: 50px;
height: 36px;
background-position: -51px -37px;
}
.hc-item-blade_of_alacrity {
width: 50px;
height: 36px;
background-position: -51px -74px;
}
.hc-item-blight_stone {
width: 50px;
height: 36px;
background-position: -51px -111px;
}
.hc-item-blink {
width: 50px;
height: 36px;
background-position: -51px -148px;
}
.hc-item-bloodstone {
width: 50px;
height: 36px;
background-position: -51px -185px;
}
.hc-item-bloodthorn {
width: 50px;
height: 36px;
background-position: -51px -222px;
}
.hc-item-boots {
width: 50px;
height: 36px;
background-position: -51px -259px;
}
.hc-item-boots_of_elves {
width: 50px;
height: 36px;
background-position: -51px -296px;
}
.hc-item-bottle {
width: 50px;
height: 36px;
background-position: -51px -333px;
}
.hc-item-bottle_arcane {
width: 50px;
height: 36px;
background-position: -51px -370px;
}
.hc-item-bottle_bounty {
width: 50px;
height: 36px;
background-position: -51px -407px;
}
.hc-item-bottle_doubledamage {
width: 50px;
height: 36px;
background-position: -51px -444px;
}
.hc-item-bottle_empty {
width: 50px;
height: 36px;
background-position: -51px -481px;
}
.hc-item-bottle_haste {
width: 50px;
height: 36px;
background-position: -51px -518px;
}
.hc-item-bottle_illusion {
width: 50px;
height: 36px;
background-position: -51px -555px;
}
.hc-item-bottle_invisibility {
width: 50px;
height: 36px;
background-position: -102px 0px;
}
.hc-item-bottle_medium {
width: 50px;
height: 36px;
background-position: -102px -37px;
}
.hc-item-bottle_regeneration {
width: 50px;
height: 36px;
background-position: -102px -74px;
}
.hc-item-bottle_small {
width: 50px;
height: 36px;
background-position: -102px -111px;
}
.hc-item-bracer {
width: 50px;
height: 36px;
background-position: -102px -148px;
}
.hc-item-branches {
width: 50px;
height: 36px;
background-position: -102px -185px;
}
.hc-item-broadsword {
width: 50px;
height: 36px;
background-position: -102px -222px;
}
.hc-item-buckler {
width: 50px;
height: 36px;
background-position: -102px -259px;
}
.hc-item-butterfly {
width: 50px;
height: 36px;
background-position: -102px -296px;
}
.hc-item-chainmail {
width: 50px;
height: 36px;
background-position: -102px -333px;
}
.hc-item-cheese {
width: 50px;
height: 36px;
background-position: -102px -370px;
}
.hc-item-circlet {
width: 50px;
height: 36px;
background-position: -102px -407px;
}
.hc-item-clarity {
width: 50px;
height: 36px;
background-position: -102px -444px;
}
.hc-item-claymore {
width: 50px;
height: 36px;
background-position: -102px -481px;
}
.hc-item-cloak {
width: 50px;
height: 36px;
background-position: -102px -518px;
}
.hc-item-courier {
width: 50px;
height: 36px;
background-position: -102px -555px;
}
.hc-item-courier_dire {
width: 50px;
height: 36px;
background-position: -153px 0px;
}
.hc-item-courier_dire_flying {
width: 50px;
height: 36px;
background-position: -153px -37px;
}
.hc-item-courier_radiant {
width: 50px;
height: 36px;
background-position: -153px -74px;
}
.hc-item-courier_radiant_flying {
width: 50px;
height: 36px;
background-position: -153px -111px;
}
.hc-item-crimson_guard {
width: 50px;
height: 36px;
background-position: -153px -148px;
}
.hc-item-crimson_robe {
width: 50px;
height: 36px;
background-position: -153px -185px;
}
.hc-item-cyclone {
width: 50px;
height: 36px;
background-position: -153px -222px;
}
.hc-item-cyclone_2 {
width: 50px;
height: 36px;
background-position: -153px -259px;
}
.hc-item-dagon {
width: 50px;
height: 36px;
background-position: -153px -296px;
}
.hc-item-dagon_2 {
width: 50px;
height: 36px;
background-position: -153px -333px;
}
.hc-item-dagon_3 {
width: 50px;
height: 36px;
background-position: -153px -370px;
}
.hc-item-dagon_4 {
width: 50px;
height: 36px;
background-position: -153px -407px;
}
.hc-item-dagon_5 {
width: 50px;
height: 36px;
background-position: -153px -444px;
}
.hc-item-demon_edge {
width: 50px;
height: 36px;
background-position: -153px -481px;
}
.hc-item-desolator {
width: 50px;
height: 36px;
background-position: -153px -518px;
}
.hc-item-diffusal_blade {
width: 50px;
height: 36px;
background-position: -153px -555px;
}
.hc-item-diffusal_blade_2 {
width: 50px;
height: 36px;
background-position: -204px 0px;
}
.hc-item-dragon_lance {
width: 50px;
height: 36px;
background-position: -204px -37px;
}
.hc-item-dust {
width: 50px;
height: 36px;
background-position: -204px -74px;
}
.hc-item-eagle {
width: 50px;
height: 36px;
background-position: -204px -111px;
}
.hc-item-echo_sabre {
width: 50px;
height: 36px;
background-position: -204px -148px;
}
.hc-item-emptyitembg {
width: 50px;
height: 36px;
background-position: -204px -185px;
}
.hc-item-enchanted_mango {
width: 50px;
height: 36px;
background-position: -204px -222px;
}
.hc-item-energy_booster {
width: 50px;
height: 36px;
background-position: -204px -259px;
}
.hc-item-ethereal_blade {
width: 50px;
height: 36px;
background-position: -204px -296px;
}
.hc-item-faerie_fire {
width: 50px;
height: 36px;
background-position: -204px -333px;
}
.hc-item-firecrackers {
width: 50px;
height: 36px;
background-position: -204px -370px;
}
.hc-item-firework_mine {
width: 50px;
height: 36px;
background-position: -204px -407px;
}
.hc-item-flask {
width: 50px;
height: 36px;
background-position: -204px -444px;
}
.hc-item-flask2 {
width: 50px;
height: 36px;
background-position: -204px -481px;
}
.hc-item-flying_courier {
width: 50px;
height: 36px;
background-position: -204px -518px;
}
.hc-item-force_staff {
width: 50px;
height: 36px;
background-position: -204px -555px;
}
.hc-item-gauntlets {
width: 50px;
height: 36px;
background-position: -255px 0px;
}
.hc-item-gem {
width: 50px;
height: 36px;
background-position: -255px -37px;
}
.hc-item-gem_of_true_sight {
width: 50px;
height: 36px;
background-position: -255px -74px;
}
.hc-item-ghost {
width: 50px;
height: 36px;
background-position: -255px -111px;
}
.hc-item-ghost_scepter {
width: 50px;
height: 36px;
background-position: -255px -148px;
}
.hc-item-glimmer_cape {
width: 50px;
height: 36px;
background-position: -255px -185px;
}
.hc-item-gloves {
width: 50px;
height: 36px;
background-position: -255px -222px;
}
.hc-item-gloves_of_haste {
width: 50px;
height: 36px;
background-position: -255px -259px;
}
.hc-item-greater_clarity {
width: 50px;
height: 36px;
background-position: -255px -296px;
}
.hc-item-greater_crit {
width: 50px;
height: 36px;
background-position: -255px -333px;
}
.hc-item-greater_salve {
width: 50px;
height: 36px;
background-position: -255px -370px;
}
.hc-item-greevil_whistle {
width: 50px;
height: 36px;
background-position: -255px -407px;
}
.hc-item-greevil_whistle_toggle {
width: 50px;
height: 36px;
background-position: -255px -444px;
}
.hc-item-guardian_greaves {
width: 50px;
height: 36px;
background-position: -255px -481px;
}
.hc-item-halloween_candy_corn {
width: 50px;
height: 36px;
background-position: -255px -518px;
}
.hc-item-halloween_rapier {
width: 50px;
height: 36px;
background-position: -255px -555px;
}
.hc-item-hand_of_midas {
width: 50px;
height: 36px;
background-position: -306px 0px;
}
.hc-item-headdress {
width: 50px;
height: 36px;
background-position: -306px -37px;
}
.hc-item-heart {
width: 50px;
height: 36px;
background-position: -306px -74px;
}
.hc-item-heavens_halberd {
width: 50px;
height: 36px;
background-position: -306px -111px;
}
.hc-item-helm_of_iron_will {
width: 50px;
height: 36px;
background-position: -306px -148px;
}
.hc-item-helm_of_the_dominator {
width: 50px;
height: 36px;
background-position: -306px -185px;
}
.hc-item-hood_of_defiance {
width: 50px;
height: 36px;
background-position: -306px -222px;
}
.hc-item-hurricane_pike {
width: 50px;
height: 36px;
background-position: -306px -259px;
}
.hc-item-hyperstone {
width: 50px;
height: 36px;
background-position: -306px -296px;
}
.hc-item-infused_raindrop {
width: 50px;
height: 36px;
background-position: -306px -333px;
}
.hc-item-invis_sword {
width: 50px;
height: 36px;
background-position: -306px -370px;
}
.hc-item-iron_talon {
width: 50px;
height: 36px;
background-position: -306px -407px;
}
.hc-item-javelin {
width: 50px;
height: 36px;
background-position: -306px -444px;
}
.hc-item-lesser_crit {
width: 50px;
height: 36px;
background-position: -306px -481px;
}
.hc-item-lifesteal {
width: 50px;
height: 36px;
background-position: -306px -518px;
}
.hc-item-lotus_orb {
width: 50px;
height: 36px;
background-position: -306px -555px;
}
.hc-item-maelstrom {
width: 50px;
height: 36px;
background-position: -357px 0px;
}
.hc-item-magic_stick {
width: 50px;
height: 36px;
background-position: -357px -37px;
}
.hc-item-magic_wand {
width: 50px;
height: 36px;
background-position: -357px -74px;
}
.hc-item-manta {
width: 50px;
height: 36px;
background-position: -357px -111px;
}
.hc-item-mantle {
width: 50px;
height: 36px;
background-position: -357px -148px;
}
.hc-item-mask_of_madness {
width: 50px;
height: 36px;
background-position: -357px -185px;
}
.hc-item-medallion_of_courage {
width: 50px;
height: 36px;
background-position: -357px -222px;
}
.hc-item-mekansm {
width: 50px;
height: 36px;
background-position: -357px -259px;
}
.hc-item-mithril_hammer {
width: 50px;
height: 36px;
background-position: -357px -296px;
}
.hc-item-mjollnir {
width: 50px;
height: 36px;
background-position: -357px -333px;
}
.hc-item-mjollnir_arc {
width: 50px;
height: 36px;
background-position: -357px -370px;
}
.hc-item-mjollnir_arc {
width: 50px;
height: 36px;
background-position: -357px -407px;
}
.hc-item-mjollnir_arc {
width: 50px;
height: 36px;
background-position: -357px -444px;
}
.hc-item-monkey_king_bar {
width: 50px;
height: 36px;
background-position: -357px -481px;
}
.hc-item-moon_shard {
width: 50px;
height: 36px;
background-position: -357px -518px;
}
.hc-item-mystery_arrow {
width: 50px;
height: 36px;
background-position: -357px -555px;
}
.hc-item-mystery_hook {
width: 50px;
height: 36px;
background-position: -408px 0px;
}
.hc-item-mystery_missile {
width: 50px;
height: 36px;
background-position: -408px -37px;
}
.hc-item-mystery_toss {
width: 50px;
height: 36px;
background-position: -408px -74px;
}
.hc-item-mystery_vacuum {
width: 50px;
height: 36px;
background-position: -408px -111px;
}
.hc-item-mystic_staff {
width: 50px;
height: 36px;
background-position: -408px -148px;
}
.hc-item-necronomicon {
width: 50px;
height: 36px;
background-position: -408px -185px;
}
.hc-item-necronomicon_2 {
width: 50px;
height: 36px;
background-position: -408px -222px;
}
.hc-item-necronomicon_3 {
width: 50px;
height: 36px;
background-position: -408px -259px;
}
.hc-item-nian_flag_trap {
width: 50px;
height: 36px;
background-position: -408px -296px;
}
.hc-item-null_talisman {
width: 50px;
height: 36px;
background-position: -408px -333px;
}
.hc-item-oblivion_staff {
width: 50px;
height: 36px;
background-position: -408px -370px;
}
.hc-item-octarine_core {
width: 50px;
height: 36px;
background-position: -408px -407px;
}
.hc-item-ogre_axe {
width: 50px;
height: 36px;
background-position: -408px -444px;
}
.hc-item-orb_of_venom {
width: 50px;
height: 36px;
background-position: -408px -481px;
}
.hc-item-orchid {
width: 50px;
height: 36px;
background-position: -408px -518px;
}
.hc-item-pers {
width: 50px;
height: 36px;
background-position: -408px -555px;
}
.hc-item-phase_boots {
width: 50px;
height: 36px;
background-position: -459px 0px;
}
.hc-item-pipe {
width: 50px;
height: 36px;
background-position: -459px -37px;
}
.hc-item-place_building {
width: 50px;
height: 36px;
background-position: -459px -74px;
}
.hc-item-platemail {
width: 50px;
height: 36px;
background-position: -459px -111px;
}
.hc-item-point_booster {
width: 50px;
height: 36px;
background-position: -459px -148px;
}
.hc-item-poor_mans_shield {
width: 50px;
height: 36px;
background-position: -459px -185px;
}
.hc-item-power_treads {
width: 50px;
height: 36px;
background-position: -459px -222px;
}
.hc-item-power_treads_agi {
width: 50px;
height: 36px;
background-position: -459px -259px;
}
.hc-item-power_treads_int {
width: 50px;
height: 36px;
background-position: -459px -296px;
}
.hc-item-power_treads_str {
width: 50px;
height: 36px;
background-position: -459px -333px;
}
.hc-item-present {
width: 50px;
height: 36px;
background-position: -459px -370px;
}
.hc-item-quarterstaff {
width: 50px;
height: 36px;
background-position: -459px -407px;
}
.hc-item-quelling_blade {
width: 50px;
height: 36px;
background-position: -459px -444px;
}
.hc-item-radiance {
width: 50px;
height: 36px;
background-position: -459px -481px;
}
.hc-item-radiance_inactive {
width: 50px;
height: 36px;
background-position: -459px -518px;
}
.hc-item-rapier {
width: 50px;
height: 36px;
background-position: -459px -555px;
}
.hc-item-reaver {
width: 50px;
height: 36px;
background-position: -510px 0px;
}
.hc-item-recipe {
width: 50px;
height: 36px;
background-position: -510px -37px;
}
.hc-item-recipe_scroll {
width: 50px;
height: 36px;
background-position: -510px -74px;
}
.hc-item-refresher {
width: 50px;
height: 36px;
background-position: -510px -111px;
}
.hc-item-relic {
width: 50px;
height: 36px;
background-position: -510px -148px;
}
.hc-item-ring_of_aquila {
width: 50px;
height: 36px;
background-position: -510px -185px;
}
.hc-item-ring_of_aquila_active {
width: 50px;
height: 36px;
background-position: -510px -222px;
}
.hc-item-ring_of_basilius {
width: 50px;
height: 36px;
background-position: -510px -259px;
}
.hc-item-ring_of_basilius_active {
width: 50px;
height: 36px;
background-position: -510px -296px;
}
.hc-item-ring_of_health {
width: 50px;
height: 36px;
background-position: -510px -333px;
}
.hc-item-ring_of_protection {
width: 50px;
height: 36px;
background-position: -510px -370px;
}
.hc-item-ring_of_regen {
width: 50px;
height: 36px;
background-position: -510px -407px;
}
.hc-item-robe {
width: 50px;
height: 36px;
background-position: -510px -444px;
}
.hc-item-rod_of_atos {
width: 50px;
height: 36px;
background-position: -510px -481px;
}
.hc-item-salve {
width: 50px;
height: 36px;
background-position: -510px -518px;
}
.hc-item-sange {
width: 50px;
height: 36px;
background-position: -510px -555px;
}
.hc-item-sange_and_yasha {
width: 50px;
height: 36px;
background-position: -561px 0px;
}
.hc-item-satanic {
width: 50px;
height: 36px;
background-position: -561px -37px;
}
.hc-item-shadow_amulet {
width: 50px;
height: 36px;
background-position: -561px -74px;
}
.hc-item-sheepstick {
width: 50px;
height: 36px;
background-position: -561px -111px;
}
.hc-item-shivas_guard {
width: 50px;
height: 36px;
background-position: -561px -148px;
}
.hc-item-silver_edge {
width: 50px;
height: 36px;
background-position: -561px -185px;
}
.hc-item-skadi {
width: 50px;
height: 36px;
background-position: -561px -222px;
}
.hc-item-slippers {
width: 50px;
height: 36px;
background-position: -561px -259px;
}
.hc-item-slippers_of_halcyon {
width: 50px;
height: 36px;
background-position: -561px -296px;
}
.hc-item-smoke_of_deceit {
width: 50px;
height: 36px;
background-position: -561px -333px;
}
.hc-item-sobi_mask {
width: 50px;
height: 36px;
background-position: -561px -370px;
}
.hc-item-solar_crest {
width: 50px;
height: 36px;
background-position: -561px -407px;
}
.hc-item-soul_booster {
width: 50px;
height: 36px;
background-position: -561px -444px;
}
.hc-item-soul_ring {
width: 50px;
height: 36px;
background-position: -561px -481px;
}
.hc-item-sphere {
width: 50px;
height: 36px;
background-position: -561px -518px;
}
.hc-item-staff_of_wizardry {
width: 50px;
height: 36px;
background-position: -561px -555px;
}
.hc-item-stout_shield {
width: 50px;
height: 36px;
background-position: -612px 0px;
}
.hc-item-talisman_of_evasion {
width: 50px;
height: 36px;
background-position: -612px -37px;
}
.hc-item-tango {
width: 50px;
height: 36px;
background-position: -612px -74px;
}
.hc-item-tango_single {
width: 50px;
height: 36px;
background-position: -612px -111px;
}
.hc-item-tombstone {
width: 50px;
height: 36px;
background-position: -612px -148px;
}
.hc-item-tome_of_knowledge {
width: 50px;
height: 36px;
background-position: -612px -185px;
}
.hc-item-tpscroll {
width: 50px;
height: 36px;
background-position: -612px -222px;
}
.hc-item-tranquil_boots {
width: 50px;
height: 36px;
background-position: -612px -259px;
}
.hc-item-tranquil_boots_active {
width: 50px;
height: 36px;
background-position: -612px -296px;
}
.hc-item-travel_boots {
width: 50px;
height: 36px;
background-position: -612px -333px;
}
.hc-item-travel_boots_2 {
width: 50px;
height: 36px;
background-position: -612px -370px;
}
.hc-item-travel_boots_tinker {
width: 50px;
height: 36px;
background-position: -612px -407px;
}
.hc-item-travel_slippers {
width: 50px;
height: 36px;
background-position: -612px -444px;
}
.hc-item-ultimate_orb {
width: 50px;
height: 36px;
background-position: -612px -481px;
}
.hc-item-ultimate_scepter {
width: 50px;
height: 36px;
background-position: -612px -518px;
}
.hc-item-urn_of_shadows {
width: 50px;
height: 36px;
background-position: -612px -555px;
}
.hc-item-vanguard {
width: 50px;
height: 36px;
background-position: -663px 0px;
}
.hc-item-veil_of_discord {
width: 50px;
height: 36px;
background-position: -663px -37px;
}
.hc-item-vitality_booster {
width: 50px;
height: 36px;
background-position: -663px -74px;
}
.hc-item-vladmir {
width: 50px;
height: 36px;
background-position: -663px -111px;
}
.hc-item-void_stone {
width: 50px;
height: 36px;
background-position: -663px -148px;
}
.hc-item-ward_dispenser {
width: 50px;
height: 36px;
background-position: -663px -185px;
}
.hc-item-ward_dispenser_sentry {
width: 50px;
height: 36px;
background-position: -663px -222px;
}
.hc-item-ward_observer {
width: 50px;
height: 36px;
background-position: -663px -259px;
}
.hc-item-ward_sentry {
width: 50px;
height: 36px;
background-position: -663px -296px;
}
.hc-item-wind_lace {
width: 50px;
height: 36px;
background-position: -663px -333px;
}
.hc-item-winter_cake {
width: 50px;
height: 36px;
background-position: -663px -370px;
}
.hc-item-winter_coal {
width: 50px;
height: 36px;
background-position: -663px -407px;
}
.hc-item-winter_coco {
width: 50px;
height: 36px;
background-position: -663px -444px;
}
.hc-item-winter_cookie {
width: 50px;
height: 36px;
background-position: -663px -481px;
}
.hc-item-winter_greevil_chewy {
width: 50px;
height: 36px;
background-position: -663px -518px;
}
.hc-item-winter_greevil_garbage {
width: 50px;
height: 36px;
background-position: -663px -555px;
}
.hc-item-winter_greevil_treat {
width: 50px;
height: 36px;
background-position: -714px 0px;
}
.hc-item-winter_ham {
width: 50px;
height: 36px;
background-position: -714px -37px;
}
.hc-item-winter_kringle {
width: 50px;
height: 36px;
background-position: -714px -74px;
}
.hc-item-winter_mushroom {
width: 50px;
height: 36px;
background-position: -714px -111px;
}
.hc-item-winter_skates {
width: 50px;
height: 36px;
background-position: -714px -148px;
}
.hc-item-winter_snowball {
width: 50px;
height: 36px;
background-position: -714px -185px;
}
.hc-item-winter_stocking {
width: 50px;
height: 36px;
background-position: -714px -222px;
}
.hc-item-winter_woolies {
width: 50px;
height: 36px;
background-position: -714px -259px;
}
.hc-item-wraith_band {
width: 50px;
height: 36px;
background-position: -714px -296px;
}
.hc-item-yasha {
width: 50px;
height: 36px;
background-position: -714px -333px;
}
.hc-shop {
background-image: url("../img/hero-calculator.shop.png");
background-repeat: no-repeat;
display: inline-block;
}
.hc-shop-arcane {
width: 50px;
height: 50px;
background-position: 0px 0px;
}
.hc-shop-armaments {
width: 50px;
height: 50px;
background-position: 0px -51px;
}
.hc-shop-armor {
width: 50px;
height: 50px;
background-position: 0px -102px;
}
.hc-shop-artifacts {
width: 50px;
height: 50px;
background-position: 0px -153px;
}
.hc-shop-attributes {
width: 50px;
height: 50px;
background-position: -51px 0px;
}
.hc-shop-caster {
width: 50px;
height: 50px;
background-position: -51px -51px;
}
.hc-shop-common {
width: 50px;
height: 50px;
background-position: -51px -102px;
}
.hc-shop-consumables {
width: 50px;
height: 50px;
background-position: -51px -153px;
}
.hc-shop-secret {
width: 50px;
height: 50px;
background-position: -102px 0px;
}
.hc-shop-support {
width: 50px;
height: 50px;
background-position: -102px -51px;
}
.hc-shop-weapons {
width: 50px;
height: 50px;
background-position: -102px -102px;
}
