.total-row {
    background-color: #202126;
}
.subtotal-row {
    background-color: #1c1d1f;
}
.btn:active, .btn.active {
	box-shadow: inset 0 3px 5px rgba(0,0,0,.5);
}
.build-table thead th.right-border, .build-table tbody td.right-border, .build-table tbody td.right-border-itemrow {
	border-right: 1px solid #202125;
}
.inventory.row-highlight {
	box-shadow: inset 0 0 6px rgba(0,0,0,.5)
}
.hover-cursor:hover {
	color: #aaa;
	background-color: #1c1d1f;
}
.hover-cursor:active {
	opacity: .8;
}
.row-highlight, .row-highlight:hover {
	color: #aaa;
	background-color: #202126;
}
.allow-events, .btn.allow-events {
    cursor: pointer;
    pointer-events: auto;
}
.ui-spinner-button:hover, .ui-spinner-button:focus {
    text-decoration:none;
    cursor:pointer;
    color: #aaa;
    background-color: #202126;
    border-color: #6C707B;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #303239;
font-weight: bold;
color: #1c94c4;
}
.ui-spinner-input {
    border: 1px solid #303239;
    color: #2C8CE0;
    background-color: #131415;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.subtotal td {
    font-weight: bold;
    border-bottom: 3px solid #202125;
}

.table>tbody+tbody {
    border-top: 1px solid #202125;
}

.modal-content {
    background-color: #1c1d1f;
}

.input-group-addon {
    color: #979aa2;
    background-color: #1c1d1f;
    border: 1px solid #303239;
}

.ui-widget-header {
    box-shadow: 2px 2px 2px 2px black;
    background: #1c1d1f;
    color: #222222;
    font-weight: bold;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    z-index: 1000 !important;
    background-color: #131415;
    border: 1px solid #303239;
}

.ui-menu .ui-menu-item {
    padding: 3px 1em 3px .4em;
    
}

.ui-state-focus, .ui-state-focus a {
    background-color: #2C8CE0;
    color: white;
}

#shop-dialog div {
    background-color: #131415;
}

#shop-dialog.popped-out div {
    background-color: #111;
}

.close, .ui-dialog-titlebar-close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #131415;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.popover {
    width: 276px;
    background-color: #1c1d1f;
}

.popover.bottom .arrow:after {
    border-bottom-color: #1c1d1f;
}

.popover.top .arrow:after {
    border-top-color: #1c1d1f;
}

.btn-default {
    border-color: #303239;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .toggled {
    color: #aaa;
    background-color: #202126;
    border-color: #6C707B;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    background-color: #1c1d1f;
    border-color: #303239;
}

.nav-tabs {
border-bottom: 1px solid #303239;
}

.nav-tabs>li.second-tab>a, .nav-tabs>li.second-tab>a:hover, .nav-tabs>li.second-tab>a:focus {
    border: 1px solid #303239;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #2C8CE0;
    background-color: #131415;
    border: 1px solid #303239;
    border-bottom-color: transparent;
    cursor: default;
}

@media ( min-width:990px ) {
    .tabledropdown {
        position: absolute;
        background-color: #131415;
        z-index: 100;
        border: 1px solid #202126;
    }
}